{% load staticfiles %}
<html>
  <head>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-theme.min.css' %}" rel="stylesheet">
  <title>{% block title %} Account {% endblock %}</title>
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <link href="{% static 'css/forms.css' %}" rel="stylesheet">
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
  <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
  <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">-->


  </head> 

  <body>
	
   <div class="container">
    <ol class="breadcrumb">
      <li><a href="">Home</a></li>
      {% if not request.user.is_authenticated %}
      <li class="pull-right"><a href='{% url "register" %}'>Register</a></li>
      <li class="pull-right"><a href='{% url "login" %}'>Login</a></li>
      {% else %}
      <li class="pull-right"><a href='{% url "logout" %}'>Logout</a></li>
      {% endif %}
    </ol>
    {% block content %}
    {% endblock %}
    
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    
    {% block javascript %}
    {% endblock %}
    </div>
  </body>
</html> 